# build products
attach
bulk
detach
dump
dump_old
ioctl
mmap
scsi
status
usb
usb_list
usbmon
watcher
xusb

# junk
append.c
backup.sh
cdb.h
devices2
endians.h
highlight.vim
languages.txt
merge.sh
move.vim
move2.vim
ntfs_time.c
ntfstime.h
out
split.awk
status.xml
usbmon.txt
usbtypes.h
